body {
  font-family: sans-serif;
  background-color: #f8f6f3;
  margin: 0;
  padding: 0;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.rtl * {
  direction: rtl !important;
  text-align: right !important;
}